<nav>
	<a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
	<a class="editor-link btn" href="cloudcannon:collections/_data/navigation.yml" class="btn"><strong>&#9998;</strong> Edit navigation</a>
	{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
			{% assign class = class | append: " highlight" %}
		{% endif %}

		{% if link.link == page.url %}
			{% assign class = class | append: " active" %}
		{% endif %}

		{% if link.name == "language" %}
			{% if page.lang == "en" %}
				<a href="{{ page.link_jp }}"><span class="emoji">🇯🇵</span> JP</a>
			{% elsif page.lang == "jp" %}
				<a href="{{ page.link_en }}"><span class="emoji">🇬🇧</span> EN</a>
			{% endif %}
		{% else %}
			<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>
		{% endif %}
	{% endfor %}
</nav>
