.apps {
	padding: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
	li {
		padding: 30px 20px;
		box-sizing: border-box;
		width: 100%;

		@media #{$tablet} {
			@include flex(1, 1, 45%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 29%);
		}

	}

	.square-image {
		width: 150px;
		height: 150px;
			img {
				width: 120px;
				object-fit: scale-down;
				border-radius: 5px;
			}
		}

	.name {
		font-size: 1.3em;
		margin-top: 20px;
	}

	.desc {
		color: #666;
	}
}

.service {
    .title-h1 {
        text-align: center;
        font-weight: bold;
        color: #fb8c00;
        margin-bottom: 40px;
        font-size: 46px;
    } 

    .title-h2 {
        color: #848484;
    }
    
    .point {
        display: flex;
        justify-content: center;
        .content {
            display: flex;
            justify-content: center;
            width: 80%;
            margin-bottom: 40px;
            padding: 40px 20px 0;
            list-style: disc;
            color: #FFF;
            column-gap: 50px;
            background: #fb8c00;
            border-radius: 20px;

            .img {
                width: 40%;
                align-self: end;
                padding-bottom: 20px;
            }

            .list {
                width: 40%;
                align-self: center;
                font-weight: bold;
                font-size: 18px;
                line-height: 2;
                padding-bottom: 20px;
            }
        }
    }

    .arrow {
        display: flex;
        justify-content: center;
        .arrow-img {
            margin-bottom: 70px;
            width: 15%;
        }
    }

    .solution {
        .title {
            margin-bottom: 40px;
            font-size: 46px;
            text-align: center;
            color: #fb8c00;
        }

        .list {
            display: flex;
            justify-content: space-around;
            margin-bottom: 40px;
            padding-top: 30px;
            list-style: none;
            border-top: 1px dotted #d3d6d5;

            li {
                padding: 5px 20px 5px 40px;
                font-weight: bold;
                font-size: 20px;
                color: #848484; 
                background: url(/assets/img/img_solution_li.svg) no-repeat left 5px;

                p {
                    font-size: 18px;
                }
            }
        }
    }

    .domains {
        .list {
            display: flex;
            justify-content: space-around;
            margin-bottom: 40px;
            padding-top: 30px;
            list-style: none;
            border-top: 1px dotted #d3d6d5;

            li {
                text-align: center;
                font-weight: bold;
                font-size: 20px;
                color: #848484; 

                .img {
                    width: auto;
                    margin-top: 30px;
                }
            }
        }

        .title {
            margin-bottom: 40px;
            font-size: 46px;
            text-align: center;
            color: #fb8c00;
        } 

        .lead {
            padding: 20px 0;
            font-size: 24px;
            text-align: center;
            color: #fb8c00;
            background: #F1F4F6;
            border-radius: 5px;
            margin-bottom: 80px;
        }
    }

    .software-provider {
        .title {
            margin-bottom: 40px;
            font-size: 46px;
            text-align: center;
            color: #fb8c00;
        } 

        .desc {
            padding: 20px 0;
            font-size: 24px;
            text-align: center;
            color: #fb8c00;
            border-radius: 5px;
            margin-bottom: 80px;
        }

        .img-container {
            display: flex;
            justify-content: space-around;
            margin-bottom: 80px;

            .img {
                width: 80%;
                text-align: center;
            }
        }
    }
}

.contact {
    width: 100%;
    margin-bottom: 0;
    padding: 10px 0;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: #fff;
    background: #FC7B7B;

    p {
        color: #fff;
    }
}
